{% extends 'base.html' %}

{% load static %}

{% block content %}


<main>
    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height" data-background="{% static 'assets/img/banner/page-banner-1.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h3>About Us</h3>
                        <p>Opencart is a one stop shop for all your Electronics and lifestyle needs. Opencart aims at providing a hassle free and enjoyable shopping <br>
                             experience to shoppers across the country with the widest range of brands and products on its portal.</p>
                        <div class="page-bottom-btn mt-55">
                            <a href="{% url 'home' %}" class="st-btn-4">Discover now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->

    <!-- about-area-start -->
    <div class="about-area pt-80 pb-80" data-background="{% static 'assets/img/bg/about-bg.png' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about-content">
                        <span>ABOUT OUR ONLINE STORE</span>
                        <h4>Hello,</h4>
                        <h5 class="banner-t mb-30">With 2+ Years Of Experience</h5>
                        <p class="about-text">We are maximisers. We're out on our own journeys to maximise  <br> </p>
                        <p> Be the best at what we choose and care about the most - whether it be our impact, voice, potential, ideas, influence, well-being or more. Because when we maximise ourselves in our inclusive teams.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about-image w-img">
                        <img src="{% static 'assets/img/about/ab1.jpg' %}" height="400px" width="600px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about-area-end -->

    <!-- services-area-start -->
    <div class="services-area pt-70 light-bg-s pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="abs-section-title text-center">
                        
                        <h4>Leave a Mark</h4>
                        <p>We're known more by the impact we create
                            than the titles we hold. Impact that is brought by
                            working together on audacious challenges at scale
                            with an aim to revolutionize for the Indian customer.
                            We believe great ideas can emerge from anywhere
                            and must be backed.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-share-square"></i>
                        </div>
                        <h6>Customer First</h6>
                        <p>We look at the world from customers point of view.</p>
                        <div class="s-count-number">
                            <span>01</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-file"></i>
                        </div>
                        <h6>Integrity</h6>
                        <p>We strive to do what is right and do what we say we will do.</p>
                        <div class="s-count-number">
                            <span>02</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="services-item mb-30">
                        <div class="services-icon mb-25">
                            <i class="fal fa-thumbs-up"></i>
                        </div>
                        <h6>Inclusion</h6>
                        <p>We value the uniqueness in everyone respect differences.</p>
                        <div class="s-count-number">
                            <span>03</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- services-area-end -->

    <!-- technolgy-index-start -->
    <div class="technolgy-index mt-70 mb-10">
        <div class="container">
            <div class="row mb-15">
                <div class="col-xl-12">
                    <div class="abs-section-title text-center">
                        <h4>We Care</h4>
                        <p>Our culture of care extends to our people,
                            stakeholders, customers and the planet! We do not
                            believe in a one size fits all strategy. <br> We put your
                            hopes, dreams and endeavours first - always.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="main-abs mb-30">
                        <div class="ab-counter-image w-img mb-40">
                            <img src="{% static 'assets/img/about/ab-01.jpg' %}" alt="">
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="ab-counter-item mb-30">
                                    <div class="ab-counter mb-20">
                                        <div class="counter-icon mr-10">
                                            <img src="{% static 'assets/img/about/c-icon-01.png' %}" alt="">
                                        </div>
                                        <div class="counter_info">
                                            <span class="counter">100</span>
                                            <p>+</p>
                                        </div>
                                    </div>
                                    <h5>Brands</h5>
                                    
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="ab-counter-item mb-30">
                                    <div class="ab-counter mb-20">
                                        <div class="counter-icon mr-10">
                                            <img src="{% static 'assets/img/about/c-icon-01.png' %}" alt="">
                                        </div>
                                        <div class="counter_info">
                                            <span class="counter">4268</span>
                                            <p>+</p>
                                        </div>
                                    </div>
                                    <h5>Happy Customers</h5>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="main-abs mb-30">
                        <div class="ab-counter-image w-img mb-40">
                            <img src="{% static 'assets/img/about/ab-02.jpg' %}" alt="">
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="ab-counter-item mb-30">
                                    <div class="ab-counter mb-20">
                                        <div class="counter-icon mr-10">
                                            <img src="{% static 'assets/img/about/c-icon-01.png' %}" alt="">
                                        </div>
                                        <div class="counter_info">
                                            <span class="counter">643</span>
                                            <p>+</p>
                                        </div>
                                    </div>
                                    <h5>Team Advisors</h5>
                                    
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="ab-counter-item mb-30">
                                    <div class="ab-counter mb-20">
                                        <div class="counter-icon mr-10">
                                            <img src="{% static 'assets/img/about/c-icon-01.png' %}" alt="">
                                        </div>
                                        <div class="counter_info">
                                            <span class="counter">269</span>
                                            <p>k</p>
                                        </div>
                                    </div>
                                    <h5>Users Online</h5>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- technolgy-index-end -->

    <!-- team-area-start -->
    <div class="team-area light-bg-s pt-70 pb-40">
        <div class="container">
            <div class="row mb-35">
                <div class="col-xl-12">
                    <div class="abs-section-title text-center">
                        <span>THE TEAM</span>
                        <h4>Meet Our Team</h4>
                        <p>The best people make the best teams. And we put all
                            our efforts into finding the right people that fit into
                            our high-performing inclusive teams. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-team text-center mb-30">
                        <div class="team-image mb-35 w-img">
                            <div class="inner-timg">
                                <a href="about.html">
                                    <img src="{% static 'assets/img/team/person-3.jpg' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="tauthor-degination mb-15">
                            <h5><a href="about.html">Vishnu Surendran</a></h5>
                            <span>CEO & Founder</span>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-team text-center mb-30">
                        <div class="team-image mb-35 w-img">
                            <div class="inner-timg">
                                <a href="about.html">
                                    <img src="{% static 'assets/img/team/person-4.jpg' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="tauthor-degination mb-15">
                            <h5><a href="about.html">Robin Gomes</a></h5>
                            <span>Co Founder</span>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-team text-center mb-30">
                        <div class="team-image mb-35 w-img">
                            <div class="inner-timg">
                                <a href="about.html">
                                    <img src="{% static 'assets/img/team/person-5.jpg' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="tauthor-degination mb-15">
                            <h5><a href="about.html">Merry Bob</a></h5>
                            <span>CTO</span>
                        </div>
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-dribbble"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team-area-end -->

    <!-- location-area-start -->
    <div class="location-area pt-70 pb-25">
        <div class="container">
            <div class="row mb-25">
                <div class="col-xl-12">
                    <div class="abs-section-title text-center">
                        <span>LOCATION STORE</span>
                        <h4>Where We Are</h4>
                        <p>We are maximisers. We're out on our own journeys to maximise  <br> </p>
                        <p> Be the best at what we choose and care about the most - whether it be our impact, voice, potential, ideas, influence, well-being or more. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="location-item mb-30">
                        <div class="location-image w-img mb-20">
                            <img src="assets/img/location/location-2.jpg" alt="">
                        </div>
                        <h6>Kakkanad - Kochi</h6>
                        <div class="sm-item-loc sm-item-border mb-20">
                            <div class="sml-icon mr-20">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="sm-content">
                                <span>Find us</span>
                                <p>Kakkanad, Kochi, Kerala</p>
                            </div>
                        </div>
                        <div class="sm-item-loc sm-item-border mb-20">
                            <div class="sml-icon mr-20">
                                <i class="fal fa-phone-alt"></i>
                            </div>
                            <div class="sm-content">
                                <span>Call us</span>
                                <p><a href="tel:+8804568">(+91) 123 456 7890</a></p>
                            </div>
                        </div>
                        <div class="sm-item-loc mb-20">
                            <div class="sml-icon mr-20">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="sm-content">
                                <span>Mail us</span>
                                <p><a
                                        href="https://themepure.net/cdn-cgi/l/email-protection#f083849f8295b0939f9d80919e89de939f9d"> helloopencart@gmail.com
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="location-item mb-30">
                        <div class="location-image w-img mb-20">
                            <img src="assets/img/location/location-3.jpg" alt="">
                        </div>
                        <h6>Bengaluru - Koramangala</h6>
                        <div class="sm-item-loc sm-item-border mb-20">
                            <div class="sml-icon mr-20">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="sm-content">
                                <span>Find us</span>
                                <p>Bengaluru, Koramangala</p>
                            </div>
                        </div>
                        <div class="sm-item-loc sm-item-border mb-20">
                            <div class="sml-icon mr-20">
                                <i class="fal fa-phone-alt"></i>
                            </div>
                            <div class="sm-content">
                                <span>Call us</span>
                                <p><a href="tel:+8804568">(+91) 123 456 7890</a></p>
                            </div>
                        </div>
                        <div class="sm-item-loc mb-20">
                            <div class="sml-icon mr-20">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="sm-content">
                                <span>Mail us</span>
                                <p><a
                                        href="https://themepure.net/cdn-cgi/l/email-protection#c4b7b0abb6a184a7aba9b4a5aabdeaa7aba9">helloopencart@gmail.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- location-area-end -->

    <!-- cta-area-start -->
    <section class="cta-area d-ldark-bg pt-55 pb-10">
        <div class="container " >
            <div class="row ">
                <div class="col-lg-4 col-md-6">
                    <div class="cta-item cta-item-d mb-30">
                        <h5 class="cta-title">Follow Us</h5>
                        <p>We make consolidating, marketing and tracking your social media website easy.</p>
                        <div class="cta-social">
                            <div class="social-icon">
                                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                                <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="cta-item mb-30">
                        <h5 class="cta-title">Sign Up To Newsletter</h5>
                        <p>Join 60.000+ subscribers and get a new discount coupon on every Saturday.</p>
                        <div class="subscribe__form">
                            <form action="#">
                                <input type="email" placeholder="Enter your email here...">
                                <button>subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </section>
    <!-- cta-area-end -->

</main>



{% endblock %}